@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.app {
  min-height: 100vh;
  background-color: #22333B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #0A0908;
}

.todo-container {
  background-color: #EAE0D5;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 10px 5px 0px 0px rgba(198, 172, 143, 0.788);
}

.todo-container h1 {
  font-family: 'SUSE Mono', sans-serif;
  color: #5E503F;
  text-align: center;
  margin-bottom: 20px;
}

.todo-container p {
  font-family: 'SUSE Mono', sans-serif;
  color: #5E503F;
}