@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  padding: 12px;
  border-radius: 8px;
  
}

.todo-item span {
  color: #5E503F;
  cursor: pointer;
  font-size: 16px;
  max-width: 300px;
  font-family: 'SUSE Mono', sans-serif;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}

.todo-item .completed {
  text-decoration: line-through;
  color: #2e271f;
}

.todo-item button {
  border: none;
  background-color: #ef4444;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #b91c1c;
}