.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  padding: 12px;
  border-radius: 8px;
}

.todo-item span {
  cursor: pointer;
  font-size: 16px;
  max-width: 300px;
}

.todo-item .completed {
  text-decoration: line-through;
  color: #5E503F;
}

.todo-item button {
  border: none;
  background-color: #ef4444;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #b91c1c;
}